*{
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

#canvas{
    position: relative;
    left: 20vw;
    background-color: black;
    width: 640px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player{
    background-color: yellow;
    border: 2px solid black;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 12px;
}